body {

	 background:#fff url('../assets/header_blue.png') 0 0 repeat-x;

}



input.button, a.button {

	background:#072541 url('../assets/bluebut.png') 0 0 repeat-x;

	border:1px solid #1e3345;

	color:#ccc!important;

}



h1, h2, h3, h4, h5, h6 {

	color:#144473;

}



#navbar ul.nav {

	 border-right:1px solid #0b355b;

	border-left:1px solid #03192e;

}



ul.nav li {

	 border-left:1px solid #0b355b;

	border-right:1px solid #03192e;

}



ul.nav ul li {

	 border-left:3px solid #05223a;

}



ul.nav li li {

		background:	#05223a;

}



ul.nav li li a {

	 color:#ccc;

}



ul.nav li li a:hover {

	color:#fff;

	background:#0b375e;

}



.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #1e3345; background: url('../assets/bluebut.png') 0 0 repeat-x; font-weight: normal; color: #fff; outline: none; }



/*

Plugin Name: WP-Digg Style Paginator

Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/

Author: Victor De la Rocha

Author URI: http://www.mis-algoritmos.com



.pagination {

	padding: 3px;

	margin: 3px;

	text-align:center;

}



.pagination a {

	padding: 2px 5px 2px 5px;

	margin: 2px;

	border: 1px solid #EEE;

	text-decoration: none;

	color: #036CB4;

}



.pagination a:hover,

.pagination a:active {

	border: 1px solid #999;

	color: #666;

}

.pagination .current {

	padding: 2px 5px 2px 5px;

	margin: 2px;

	border: 1px solid #036CB4;

	font-weight: bold;

	background-color: #036CB4;

	color: #FFF;

}

.pagination .disabled {

	padding: 2px 5px 2px 5px;

	margin: 2px;

	border: 1px solid #EEE;

	color: #DDD;

}

*/



/*div.pagination {

	padding: 3px;

	margin: 3px;

}



div.pagination a {

	padding: 2px 5px 2px 5px;

	margin: 2px;

	border: 1px solid #AAAADD;

	

	text-decoration: none; /* no underline */

	color: #000099;

}

div.pagination a:hover, div.pagination a:active {

	border: 1px solid #000099;



	color: #000;

}

div.pagination span.current {

	padding: 2px 5px 2px 5px;

	margin: 2px;

		border: 1px solid #000099;

		

		font-weight: bold;

		background-color: #FFECD9;/*#000099;*/

		color: #000;/*#FFF;*/

	}

	div.pagination span.disabled {

		padding: 2px 5px 2px 5px;

		margin: 2px;

		border: 1px solid #EEE;

	

		color: #DDD;

	}

	.bgcolor

	{

		background-color: #70C6D5;

	}*/