.required {

	color: red;

	font-weight: 700;

}
.input-group {
    width: 100% !important;
}
textarea {

	width: 100%;

	background-color: #fff;

	background-image: none;

	border: 1px solid #ccc;

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

	display: block;

	font-size: 14px;

	line-height: 1.42857;

	padding: 6px 12px;

	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

}

.gl-summary-info {

	padding: 10px 15px;

}

dt {

	font-weight: 700;

}

dt, dd {

	line-height: 1.42857;

}

.gl-summary-info dd {

	margin-bottom: 10px;

}

h3 {

	margin: 0;

	padding: 0 15px 15px;

}

.pull-right {

	float: right !important;

}

.radio {

	display: block;

	margin-bottom: 10px;

	margin-top: 10px;

	min-height: 20px;

	padding-left: 20px;

	vertical-align: middle;

}

.radio label {

	cursor: pointer;

	display: inline;

	font-weight: 400;

	margin-bottom: 0;

}

.radio input[type="radio"] {

	float: left;

	margin-left: -20px;

}

.form-group {

	margin-bottom: 15px !important;

}

.round {

    background: #d1ebf9 none repeat scroll 0 0;

    padding: 10px;

}

.custom-h4-fare {

	font-size: 18px;

	color: #003a5d;

	margin: 10px 0 15px;

}

.custom-h5-fare {

 font-size:14px;

}



